@import url(https://db.onlinewebfonts.com/c/7139b134440535b110d912bfd5e6eca9?family=Equip+Cond+W03+Light);
* {
    margin: 0px;
    padding: 0px;
    font-family: "Equip Cond W03 Light";
}

:root {
    --primary: #1d2024;
    --secondary: #e5e5e5;
    --darkContrastText: #f5eeeb;

    /* NAVBAR */
    --active-nav-item: #bf1f1f;

}

section {
    scroll-margin-top: 175px
}